@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #121212;
    overflow: hidden;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e51e2a;
    clip-path: circle(50% at bottom right);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    position: relative;
    max-width: 150px;
}
header .navegation ul{
    position: relative;
    display: flex;
}
header .navegation  li{
    list-style: none;
}
header .navegation li a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 19px;
    margin-left: 100px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .text{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}
.content .text h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
}
.content .text h2 span{
    font-size: 3.5em;
    color: #e51e2a;
}
.content .text p{
    color: #fff;
}
.content .text a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background: #e51e2a;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}
.content .text a:hover{
    transform: translateY(-10px);
}
.icons{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons li{
    list-style: none;
}
.icons li a{
    display: inline-block;
    margin-left: 45px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition:  0.3s ease-in-out;
}
.icons li a:hover{
    background: #e51e2a;
    transform: translateY(-10px);
}
.icons li a img{
    filter: invert(1);
    transform: scale(0.5);
}
.boxImg{
    position: absolute;
    right: 0;
    bottom: -40px;
}
.boxImg img{
    width: 200px;
}
.boxImg .img1{
    transform: rotate(-15deg)
}
.boxImg .img2{
    transform: rotate(5deg)
}
.boxImg .img3{
    transform: rotate(15deg)
}
.boxImg .img4{
    transform: rotate(-15deg)
}
